body{
    margin: 0%;
    padding: 0%;
    background: url(parking3.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.user{
    width: 320px;
    height: 420px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
    
}
h1{
    margin: 0%;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color:#fff;
    font-weight: bold;
}
.user input{
    width: 50%;
    margin-bottom: 20px; 
}
.user input[type="text"]{
    border: none;
    background-position: 1px solid#fff;
    background: transparent;
    outline:none;
    height: 30px;
    color:#fff;
    font-size: 16px;
    padding-left: 30px;
    
}
::placeholder {
    color:white;
    opacity: 1; /* Firefox */
  }


.user input[type="radio"],p{
    height: 20px;
    color: whitesmoke;
    font-weight: bold;
    padding-right: 50px;  

}
.user input[type="submit"]{
    border: none;
    outline:none;
    background: #fb2525;
    color: #fff;
    font-size: 180x;
    border-radius: 20px;
    height: 30px;
}
.user input[type="submit"]:hover
{
    cursor: pointer;
    background:yellow;
    color: #000;
}
@media(min-width: 600px) {
    body{
        width: 100%;
        height: 100%;
    }